.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: calc(100vh - 89px);
    align-items: center;
    padding: 20px;
}

.img-section {
    flex: 40%;
    display: flex;
    justify-content: center;
}

.uml-section {
    flex: 40%;
    display: flex;
    justify-content: center;
}

.control-section {
    flex: 20%;
    display: flex;
    background-color: #EDEDED;
    border-radius: 25px;
    padding: 30px;
    flex-direction: column;
    justify-content: space-between;
}

.control-section-full {
    height: 100%;
}